doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    block css
      link(rel="stylesheet" href="./_style/main.css")
    
    block title 
      title wommy
    
    block description
      meta(name="description" content="wommy's SPA powered by technomad")
    
    block data
      // script(src="./data.json")
      
  body
    div.wrapper
      block nav
        // include ../_includes/nav.pug

      block content