doctype html
html(lang='{{ page.lang | default: site.lang | default: ')
  | {% include head.html %}
  body
    | {% include header.html %}
    main.page-content(aria-label='Content')
      .wrapper
        | {{ content }}
    | {% include footer.html %}
