footer.site-footer
  .wrapper
    h2.footer-heading {{ site.title | escape }}
    .footer-col-wrapper
      .footer-col.footer-col-1
        ul.contact-list
          li
            | {% if site.author %}
              | {{ site.author | escape }}
            | {% else %}
              | {{ site.title | escape }}
            | {% endif %}
            | {% if site.email %}
            li
              a(href='mailto:{{ site.email }}') {{ site.email }}
            | {% endif %}
      .footer-col.footer-col-2
        ul.social-media-list
          | {% if site.github_username %}
          li
            | {% include icon-github.html username=site.github_username %}
          | {% endif %}
          | {% if site.twitter_username %}
          li
            | {% include icon-twitter.html username=site.twitter_username %}
          | {% endif %}
      .footer-col.footer-col-3
        p {{ site.description | escape }}
