extends _layouts/template.pug

block content
  h1.page-heading Posts
  ul.post-list
    li
      span.post-meta Mar 25, 2016
      h2
        a.post-link(href="/media/2016-03-25-welcome-to-jekyll/") Welcome to Jekyll!
  p.rss-subscribe subscribe #[a(href="/feed.xml") via RSS]