extends ./_layouts/test.pug

block css
  link(rel="stylesheet" href="./css/test.css")

block content
  nav.top
    a(href='#') home
    a(href='#about') about
    a(href='#media') media
    a(href='#resume') resume
  div.content
    nav.sub
      button(href='#all') all
      button(href='#cat1') cat1
      button(href='#cat2') cat2
      button(href='#cat3') cat3
    div.blog
      mixin blog_post-short
        li.blog-item 
          span.title-blog blog post title
          p.blog-short i did some stuff, i need to write moar so that this thing actually fills up, hooboi doobie gotta type more stuff because this needs to be an insert so that i can gugage if i want to read this or not evene moar to write, this is all craps. i love how this is carely enough to fill it. third time im still typing.
            a.slim(href='#buttz') == read moar >>
      p.title-blog_list here b blog 
      ul.blog-list
        +blog_post-short
        +blog_post-short
        +blog_post-short
        +blog_post-short
        +blog_post-short
        +blog_post-short
        +blog_post-short